/* ====================== Media Queries ====================== */

@media (min-width: 701px) {
  nav {
    height: 5vw;
  }
  nav:last-child {
    justify-content: left;
  }
  
  #map {
    height: 25vw;
    width: 100%;
    background-color: #ccc;
  }
  .filter-options {
    justify-content: space-between;
    padding: 0.4em;
  }

  .filter-options h2 {
    width: 30%;
    margin: 0;
  }

  /* Prevent select from overflowing parent wrapper */
  .filter-options::after {
    content: "";
    margin-right: -70px;
  }

  #restaurants-list li {
    width: 40%;
  }
}