@media (min-width: 701px) {
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
	#breadcrumb {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0 auto;
	}
	/* Display list items side by side */
  #breadcrumb li {
    display: inline;
    color: #FF9800;
  }
  /* Add a slash symbol (/) before/behind each list item */
  #breadcrumb li+li::before {
    padding: 8px;
    color: #FF9800;
    content: "/\00a0";
  }
  /* Add a color to all links inside the list */
  #breadcrumb li a {
    color: #8dcaff;
    text-decoration: none;
  }
  /* Add a color on mouse-over and tab focus */
  #breadcrumb li a:focus,
  #breadcrumb li a:hover, {
    color: #FF9800; 
    text-decoration: underline;
  }
	#maincontent {
		grid-template-areas: "restaurant map" "reviews map" "footer map";
		background-color: rgb(245, 245, 245);
	}
	#restaurant-container, #reviews-container, footer {
		width: 45%;
	}
  #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  #reviews-container {
    grid-area: reviews;
  }
}